<header
    class='bg-white d-flex justify-content-between align-items-center py-2 px-4 w-100 position-fixed top-0 shadow-sm'
    style='z-index: 10;'>
    <section>
        <a style='color: black; font-size: 1.3rem; text-decoration: none; font-family:  monospace' href='/'><b>Food
                Factory</b></a>
    </section>
    <nav class='nav align-items-center'>
        <% if (!name) { %>
            <a class='nav-link' href='/signin'>Sign In</a>
            <a class='nav-link' href='/registration'>Register</a>
            <% } else if (is_admin) { %>
                <a class='nav-link' href='/account'><b class='badge bg-primary' style='font-family:  monospace'>
                        <%= name %>
                    </b></a>
                <a class='nav-link' href='/order/admin'>Orders</a>
                <a class='nav-link' href='/addproduct'>Add Product</a>
                <a class='nav-link' href='/signout'>Sign out</a>
                <% } else {%>
                    <a class='nav-link' href='/account'><b class='badge bg-primary' style='font-family:  monospace'>
                            <%= name %>
                        </b></a>
                    <a class='nav-link' href='/home'>Home</a>
                    <a class='nav-link' href='/order/status'>Status</a>
                    <a class='nav-link' href='/cart'>Cart</a>
                    <a class='nav-link' href='/signout'>Sign out</a>
                    <% } %>
    </nav>

</header>

<img src="https://i.pinimg.com/originals/bf/65/d5/bf65d51f34b1bf193ec947f3c0c3f3e0.jpg"
    style="width: 100%;height: 60%;position: relative;" alt="">

<h1 style="position: absolute;position: absolute;
top: 250;
left: 900;
color: white;
font-size: 6rem;
font-style: italic;"> Food Factory</h1>